<!doctype html>
<html itemscope itemtype="http://schema.org/Event">

{{ partial "head.html" . }}

<body>

<!-- Navigation -->
{{ partial "previousEdition/nav.html" . }}

<section class="session schedule">
    {{ $speakersmap := $.Site.Params.speakersmap }}
    <ul class="schedule-list-article">
        {{ range $index, $slot := $.Site.Params.schedule }}
        <li class="schedule-list-article" id="{{ $index }}" style="display: none; width: 90%;">
            <article class="talk">
                <header style="width: 100%;">
                    <ul class="schedule-speaker">
                        {{ range $spk := $slot.speakers }}
                        {{ $speaker := index $speakersmap (string $spk.speakerid) }}
                        {{ if $speaker.href }}
                                <a href="{{ $speaker.href }}" target="_blank">
                        {{ end }}
                            <li>
                                <div class="speaker">
                                    <img loading="lazy" src="{{ $speaker.photo }}" alt="{{ $speaker.name }}">
                                    <p>{{ $speaker.name }}</p>
                                </div>
                            </li>
                        {{ if $speaker.href }}
                            </a>
                        {{ end }}
                        {{ end }}
                        </div>
                    </ul>
                </header>
                <section>
                    <h2 class="talk-title">{{ .name }}</h2>
                    <h3 class="talk-date">{{ .date }}</h3>
                    <div class="schedule-calendar" style="display: none;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle rounded" style="border: 1px solid #212529;" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                <svg style="margin-right: 0.75rem;" xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                                Ajouter au calendrier
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a target="_blank" class="dropdown-item" href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20220112T180000Z%2F20220112T200000Z&details={{ .description | safeHTML }}&text={{ .name | safeHTML }}">
                                    <img loading="lazy" src="img/logo/gmail_icon.png" width="32" height="32">
                                </a>
                                <a target="_blank" class="dropdown-item" href="https://outlook.office.com/calendar/0/deeplink/compose?body={{ .description | safeHTML }}&enddt=2022-01-12T20%3A00%3A00%2B00%3A00&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2022-01-12T18%3A00%3A00%2B00%3A00&subject={{ .name | safeHTML }}">
                                    <img loading="lazy" src="img/logo/outlook.png" width="32" height="32">
                                </a>
                                <a target="_blank" class="dropdown-item" href="https://outlook.office.com/calendar/0/deeplink/compose?body={{ .description | safeHTML }}&enddt=2022-01-12T20%3A00%3A00%2B00%3A00&location=New%20Earth&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2022-01-12T18%3A00%3A00%2B00%3A00&subject={{ .name | safeHTML }}">
                                    <img loading="lazy" src="img/logo/office_365.png" width="32" height="32">
                                </a>
                            </div>
                        </div>
                    </div>
                    <p>{{ .description | safeHTML }}</p>
                    
<!--                    <div class="talk-inscription">-->
<!--                        <a href="{{ .meetup }}" target="_blank">Inscription sur Meetup.com</a>-->
<!--                    </div>-->

                    {{ range $spk := $slot.speakers }}
                    {{ $speaker := index $speakersmap (string $spk.speakerid) }}
                        {{ if $speaker.name }}
                            <h3 class="talk-date">
                                Présentation de {{ $speaker.name }}
                            </h3>

                            {{ if $speaker.bio }}
                                <p>{{ $speaker.bio }}</p>
                            {{else}}
                                <p>Présentation à venir</p>
                            {{ end }}

                            {{ if $speaker.company }}
                                <p><i class="fa fa-building"></i> <span>{{ $speaker.company }}</span></p>
                            {{ end }}

                            {{ if $speaker.text }}
                                <p><i class="fab fa-twitter-square"></i> <span>{{ $speaker.text }}</span></p>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </section>
                <footer>
                    <div class="talk-type">
                        {{ if eq .type "talk" }}
                        <svg xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" fill="currentColor" class="bi bi-mic" style="margin-right: 0.75rem" viewBox="0 0 16 16">
                            <title>Talk</title>
                            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                            <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
                        </svg>
                        {{ end }}
                        {{ if eq .type "workshop" }}
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor"  style="margin-right: 0.75rem" class="bi bi-pencil-square" viewBox="0 0 16 16">-->
<!--                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>-->
<!--                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>-->
<!--                        </svg>-->
                        <svg width="44.875" height="42.6" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <clipPath id="e">
                                    <rect class="a" width="44.875" height="42.599" fill="url(#a)" y="0" x="0" id="svg_1"/>
                                </clipPath>
                                <clipPath id="f">
                                    <path class="a" d="m-0.00201,21.301a20.167,20.167 0 0 1 1.71,-8.153a21.036,21.036 0 0 1 4.862,-6.909a22.36,22.36 0 0 1 7.28,-4.617a23.547,23.547 0 0 1 17.17,0a22.3,22.3 0 0 1 7.28,4.617a21.093,21.093 0 0 1 4.866,6.909a20.322,20.322 0 0 1 0,16.3a21.062,21.062 0 0 1 -4.866,6.909a22.266,22.266 0 0 1 -7.277,4.617a23.513,23.513 0 0 1 -17.174,0a22.31,22.31 0 0 1 -7.28,-4.617a21,21 0 0 1 -4.862,-6.909a20.153,20.153 0 0 1 -1.709,-8.147z" fill="url(#a)" id="svg_2"/>
                                </clipPath>
                                <clipPath id="k">
                                    <rect class="b" width="38.532" height="36.578" fill="#fff" y="3.01074" x="3.17102" id="svg_3"/>
                                </clipPath>
                            </defs>
                            <g>
                                <title>Workshop</title>
                                <g id="svg_5">
                                    <g id="svg_6">
                                        <g class="c" clip-path="url(#e)" id="svg_7">
                                            <g id="svg_8">
                                                <g class="d" clip-path="url(#f)" id="svg_9">
                                                    <path class="a" d="m44.87399,21.301a20.431,20.431 0 0 1 -1.707,8.15a20.965,20.965 0 0 1 -2.074,3.683a21.463,21.463 0 0 1 -2.791,3.226a22.337,22.337 0 0 1 -3.4,2.65a22.6,22.6 0 0 1 -3.879,1.967a23.279,23.279 0 0 1 -4.21,1.213a23.706,23.706 0 0 1 -8.754,0a23.137,23.137 0 0 1 -4.21,-1.213a22.6,22.6 0 0 1 -3.879,-1.967a22.2,22.2 0 0 1 -3.4,-2.65a21.464,21.464 0 0 1 -2.791,-3.226a20.951,20.951 0 0 1 -2.071,-3.683a20.5,20.5 0 0 1 -1.278,-4a20.195,20.195 0 0 1 0,-8.31a20.432,20.432 0 0 1 1.278,-4a20.845,20.845 0 0 1 2.073,-3.675a21.486,21.486 0 0 1 2.791,-3.229a21.989,21.989 0 0 1 3.4,-2.647a22.843,22.843 0 0 1 3.879,-1.97a23.562,23.562 0 0 1 17.174,0a22.842,22.842 0 0 1 3.879,1.97a22.123,22.123 0 0 1 3.4,2.647a21.485,21.485 0 0 1 2.791,3.229a20.859,20.859 0 0 1 2.074,3.683a20.433,20.433 0 0 1 1.707,8.15l-0.002,0.002z" fill="url(#a)" id="svg_10"/>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="svg_11">
                                        <g class="c" clip-path="url(#e)" id="svg_12">
                                            <g id="svg_13">
                                                <g class="d" clip-path="url(#f)" id="svg_14">
                                                    <path class="a" d="m44.87399,21.301a20.431,20.431 0 0 1 -1.707,8.15a20.965,20.965 0 0 1 -2.074,3.683a21.463,21.463 0 0 1 -2.791,3.226a22.337,22.337 0 0 1 -3.4,2.65a22.6,22.6 0 0 1 -3.879,1.967a23.279,23.279 0 0 1 -4.21,1.213a23.706,23.706 0 0 1 -8.754,0a23.137,23.137 0 0 1 -4.21,-1.213a22.6,22.6 0 0 1 -3.879,-1.967a22.2,22.2 0 0 1 -3.4,-2.65a21.464,21.464 0 0 1 -2.791,-3.226a20.951,20.951 0 0 1 -2.071,-3.683a20.5,20.5 0 0 1 -1.278,-4a20.195,20.195 0 0 1 0,-8.31a20.432,20.432 0 0 1 1.278,-4a20.845,20.845 0 0 1 2.073,-3.675a21.486,21.486 0 0 1 2.791,-3.229a21.989,21.989 0 0 1 3.4,-2.647a22.843,22.843 0 0 1 3.879,-1.97a23.562,23.562 0 0 1 17.174,0a22.842,22.842 0 0 1 3.879,1.97a22.123,22.123 0 0 1 3.4,2.647a21.485,21.485 0 0 1 2.791,3.229a20.859,20.859 0 0 1 2.074,3.683a20.433,20.433 0 0 1 1.707,8.15l-0.002,0.002z" fill="url(#a)" id="svg_15"/>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="svg_16">
                                        <g class="e" clip-path="url(#k)" id="svg_17">
                                            <g id="svg_18">
                                                <g class="f" clip-path="url(#l)" id="svg_19">
                                                    <path class="b" d="m41.70202,21.30075a17.543,17.543 0 0 1 -1.465,7a18,18 0 0 1 -1.781,3.162a18.427,18.427 0 0 1 -2.4,2.77a19.178,19.178 0 0 1 -2.918,2.276a19.4,19.4 0 0 1 -3.331,1.689a19.988,19.988 0 0 1 -3.615,1.042a20.356,20.356 0 0 1 -7.516,0a19.866,19.866 0 0 1 -3.615,-1.042a19.4,19.4 0 0 1 -3.331,-1.689a19.061,19.061 0 0 1 -2.92,-2.276a18.431,18.431 0 0 1 -2.4,-2.77a17.989,17.989 0 0 1 -1.779,-3.162a17.6,17.6 0 0 1 -1.1,-3.431a17.341,17.341 0 0 1 0,-7.135a17.543,17.543 0 0 1 1.1,-3.431a17.9,17.9 0 0 1 1.779,-3.162a18.452,18.452 0 0 1 2.4,-2.773a18.881,18.881 0 0 1 2.92,-2.273a19.616,19.616 0 0 1 3.331,-1.692a20.232,20.232 0 0 1 14.746,0a19.615,19.615 0 0 1 3.331,1.692a19,19 0 0 1 2.918,2.273a18.448,18.448 0 0 1 2.4,2.773a17.91,17.91 0 0 1 1.781,3.162a17.544,17.544 0 0 1 1.465,7l0,-0.003z" fill="#fff" id="svg_20"/>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="svg_21">
                                        <rect class="g" width="28.731" height="23.615" rx="5.116" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.394px" y="9.49173" x="8.07198" id="svg_22"/>
                                        <rect class="h" width="27.55" height="22.434" rx="4.526" fill="none" stroke="#000" stroke-width="1.181px" y="10.08273" x="8.66298" id="svg_23"/>
                                        <rect width="0.787" height="0.787" transform="matrix(0.588 -0.809 0.809 0.588 204.333 245.694)" y="-283.47193" x="66.92308" id="svg_24"/>
                                        <path d="m8.55197,19.57773l0.125,0a36.67,36.67 0 0 0 0.49,4.986a1.18,1.18 0 0 0 2.121,0.51l0.925,-1.274a0.394,0.394 0 0 1 0.55,-0.087l0.318,0.231l-0.694,0.955a1.971,1.971 0 0 0 0.436,2.749l6.368,4.627a1.971,1.971 0 0 0 2.749,-0.435l1.85,-2.548a1.969,1.969 0 0 0 -0.435,-2.748l-6.368,-4.627a1.97,1.97 0 0 0 -2.749,0.435l-0.694,0.955l-0.318,-0.231a1.182,1.182 0 0 0 -1.65,0.261l-0.925,1.274a0.393,0.393 0 0 1 -0.707,-0.17c-0.016,-0.1 -0.692,-4.315 -0.631,-4.4l-0.125,0c0.186,-0.253 -0.574,-0.546 -0.636,-0.463zm14.6,9.252l-1.851,2.547a1.181,1.181 0 0 1 -1.649,0.261l0,0l-4.777,-3.47l3.239,-4.458l4.778,3.468a1.182,1.182 0 0 1 0.262,1.65l-0.002,0.002zm-6.63,-6.276l0.955,0.694l-3.238,4.457l-0.956,-0.694a1.181,1.181 0 0 1 -0.261,-1.649l1.851,-2.547a1.179,1.179 0 0 1 1.649,-0.259l0,-0.002z" id="svg_25"/>
                                        <rect width="0.787" height="0.787" y="18.93773" x="32.47397" id="svg_26"/>
                                        <rect width="0.787" height="0.787" y="18.93773" x="30.89998" id="svg_27"/>
                                        <rect width="0.787" height="0.787" y="18.93773" x="29.32597" id="svg_28"/>
                                        <rect width="0.787" height="0.787" y="18.93773" x="27.75098" id="svg_29"/>
                                        <rect width="0.787" height="0.787" y="18.93773" x="26.17697" id="svg_30"/>
                                        <rect width="0.787" height="0.787" y="14.21474" x="26.17697" id="svg_31"/>
                                        <rect width="0.787" height="0.787" y="17.36374" x="26.17697" id="svg_32"/>
                                        <rect width="0.787" height="0.787" y="15.78873" x="26.17697" id="svg_33"/>
                                        <rect width="0.787" height="0.787" y="12.64073" x="26.17697" id="svg_34"/>
                                        <rect width="0.787" height="0.787" y="12.64073" x="27.75098" id="svg_35"/>
                                        <rect width="0.787" height="0.787" y="12.64073" x="29.32597" id="svg_36"/>
                                        <rect width="0.787" height="0.787" y="12.64073" x="30.89998" id="svg_37"/>
                                        <rect width="0.787" height="0.787" y="12.64073" x="32.47397" id="svg_38"/>
                                        <rect width="0.787" height="0.787" y="17.36374" x="32.47397" id="svg_39"/>
                                        <rect width="0.787" height="0.787" y="14.21474" x="32.47397" id="svg_40"/>
                                        <rect width="0.787" height="0.787" y="15.78873" x="32.47397" id="svg_41"/>
                                        <path d="m31.68697,14.21473l-3.936,0l0,3.936l3.936,0l0,-3.936zm-0.787,3.149l-2.362,0l0,-2.362l2.362,0l0,2.362z" id="svg_42"/>
                                        <path d="m31.90297,29.35273l0.948,-1.258a1.181,1.181 0 0 0 -0.232,-1.654l-16.038,-12.083l0,0a0.39,0.39 0 0 0 -0.186,-0.081l-3.149,-0.4a0.394,0.394 0 0 0 -0.44,0.341a0.39,0.39 0 0 0 0.029,0.205l1.253,2.916a0.38,0.38 0 0 0 0.13,0.156l0,0l16.038,12.084a1.181,1.181 0 0 0 1.647,-0.226zm0.242,-2.283a0.394,0.394 0 0 1 0.077,0.551l-0.947,1.258a0.394,0.394 0 0 1 -0.552,0.078l-0.943,-0.711l1.421,-1.887l0.944,0.711zm-2.046,-0.556l-13.077,-9.853l-0.155,-1.1l13.706,10.327l-0.474,0.626zm-16.27,-11.765l2.167,0.276l0.213,1.518l-1.518,0.213l-0.862,-2.007zm1.616,2.7l1.1,-0.155l13.077,9.852l-0.474,0.629l-13.703,-10.326z" id="svg_43"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        {{ end }}
                        <ul class="schedule-tags">
                            {{ range $category := $slot.categories }}
                            <li class="schedule-tag">{{ $category }}</li>
                            {{ end }}
                        </ul>
                        <div class="footer-bottom">
                            {{ .language }}
                        </div>
                    </div>
                </footer>
            </article>
        </li>
        {{ end }}
    </ul>
</section>


<!-- Footer -->
{{ partial "footer.html" .Site.Params }}

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    function getURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }

    }

    var talk = getURLParameter('talk');

    $('#' + talk).show();

</script>
</body>
</html>
