<!doctype html>
<html itemscope itemtype="http://schema.org/Event">

{{ partial "head.html" . }}

<body>

<!-- Navigation -->
{{ partial "previousEdition/nav.html" . }}

<section class="session schedule">
    {{ $speakersmap := $.Site.Params.speakersmap }}
    <ul class="schedule-list-article">
        {{ range $index, $slot := $.Site.Params.schedule }}
        <li class="schedule-list-article" id="{{ .id }}" style="display: none; width: 90%;">
            <article class="talk">
                <header style="width: 100%;">
                    <ul class="schedule-speaker">
                        {{ range $spk := $slot.speakers }}
                        {{ $speaker := index $speakersmap (string $spk.speakerid) }}
                        {{ if $speaker.href }}
                                <a href="{{ $speaker.href }}" target="_blank">
                        {{ end }}
                            <li>
                                <div class="speaker">
                                    <img loading="lazy" src="{{ $speaker.photo }}" alt="{{ $speaker.name }}">
                                    <p>{{ $speaker.name }}</p>
                                </div>
                            </li>
                        {{ if $speaker.href }}
                            </a>
                        {{ end }}
                        {{ end }}
                        </div>
                    </ul>
                </header>
                <section>
                    <h2 class="talk-title">{{ .name }}</h2>
                    <h3 class="talk-date">{{ if .salle }} Salle {{ .salle }} {{ end }}</h3>
                    <h3 class="talk-date">{{ .date }}</h3>
                    <div class="schedule-calendar" style="display: none;">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle rounded" style="border: 1px solid #212529;" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                <svg style="margin-right: 0.75rem;" xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                                Ajouter au calendrier
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a target="_blank" class="dropdown-item" href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20220112T180000Z%2F20220112T200000Z&details={{ .description | safeHTML }}&text={{ .name | safeHTML }}">
                                    <img loading="lazy" src="img/logo/gmail_icon.png" width="32" height="32">
                                </a>
                                <a target="_blank" class="dropdown-item" href="https://outlook.office.com/calendar/0/deeplink/compose?body={{ .description | safeHTML }}&enddt=2022-01-12T20%3A00%3A00%2B00%3A00&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2022-01-12T18%3A00%3A00%2B00%3A00&subject={{ .name | safeHTML }}">
                                    <img loading="lazy" src="img/logo/outlook.png" width="32" height="32">
                                </a>
                                <a target="_blank" class="dropdown-item" href="https://outlook.office.com/calendar/0/deeplink/compose?body={{ .description | safeHTML }}&enddt=2022-01-12T20%3A00%3A00%2B00%3A00&location=New%20Earth&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2022-01-12T18%3A00%3A00%2B00%3A00&subject={{ .name | safeHTML }}">
                                    <img loading="lazy" src="img/logo/office_365.png" width="32" height="32">
                                </a>
                            </div>
                        </div>
                    </div>
                    <p>{{ .description | safeHTML }}</p>
                    
<!--                    <div class="talk-inscription">-->
<!--                        <a href="{{ .meetup }}" target="_blank">Inscription sur Meetup.com</a>-->
<!--                    </div>-->

                    {{ range $spk := $slot.speakers }}
                    {{ $speaker := index $speakersmap (string $spk.speakerid) }}
                        {{ if $speaker.name }}
                            <h3 class="talk-date">
                                Présentation de {{ $speaker.name }}
                            </h3>

                            {{ if $speaker.bio }}
                                <p>{{ $speaker.bio | safeHTML }}</p>
                            {{else}}
                                <p>Présentation à venir</p>
                            {{ end }}

                            {{ if $speaker.company }}
                                <p><i class="fa fa-building"></i> <span>{{ $speaker.company }}</span></p>
                            {{ end }}

                            {{ if $speaker.text }}
                                <p><i class="fab fa-twitter-square"></i> <span>{{ $speaker.text }}</span></p>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </section>
                <footer>
                    <div class="talk-type">
                        {{ if eq .type "talk" }}
                        <svg xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" fill="currentColor" class="bi bi-mic" style="margin-right: 0.75rem" viewBox="0 0 16 16">
                            <title>Talk</title>
                            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                            <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
                        </svg>
                        {{ end }}
                        {{ if eq .type "workshop" }}
                            <img src="/img/schedule/workshop.png" class="img-fluid" alt="workshop">
                        {{ end }}
                        <ul class="schedule-tags">
                            {{ range $category := $slot.categories }}
                            <li class="schedule-tag">{{ $category }}</li>
                            {{ end }}
                        </ul>
                        <div class="footer-bottom">
                            {{ .language }}
                        </div>
                    </div>
                </footer>
            </article>
        </li>
        {{ end }}
    </ul>
</section>


<!-- Footer -->
{{ partial "footer.html" .Site.Params }}

<script>
    function getURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }

    }

    var talk = getURLParameter('talk');

    $('#' + talk).show();

</script>
</body>
</html>
