<!doctype html>
<html itemscope itemtype="http://schema.org/Event">

{{ partial "head.html" (dict "context" . "pageTitle" "AlpesCraft Session"  "pageDescription" "Découvrir, apprendre et se perfectionner") }}

<body>

<!-- Navigation -->
{{ partial "previousEdition/nav.html" . }}

<section class="session schedule">
    {{ $speakersmap := $.Site.Params.speakersmap }}
    <ul class="schedule-list-article">
        {{ range $index, $slot := $.Site.Params.schedule }}
        <li class="schedule-list-article" id="{{ .id }}" style="display: none; width: 90%;">
            <article class="talk {{ .menu }}">
                <header style="width: 100%;">
                    <ul class="schedule-speaker">
                        {{ range $spk := $slot.speakers }}
                        {{ $speaker := index $speakersmap (string $spk.speakerid) }}
                        {{ if $speaker.href }}
                                <a href="{{ $speaker.href }}" target="_blank">
                        {{ end }}
                            <li>
                                <div class="speaker {{ $speaker.class_sponsor }}">
                                    <img loading="lazy" src="{{ $speaker.photo }}" alt="{{ $speaker.name }}">
                                    {{ if ne $speaker.name "Orga" }}
                                        <p>{{ $speaker.name }}</p>
                                    {{ end }}
                                </div>
                            </li>
                        {{ if $speaker.href }}
                            </a>
                        {{ end }}
                        {{ end }}
                        </div>
                    </ul>
                </header>
                <section>
                    <h2 class="talk-title">{{ .name }}</h2>
<!--                    <h3 class="talk-date"> {{ if .salle }}📍  Salle {{ .salle }} {{ end }}</h3>-->
<!--                    <h3 class="talk-date"> 🕒 {{ .date }}</h3>-->
<!--                    <h3 class="talk-date">🍽️-->
<!--                        {{ if eq .menu "babystep" }}-->
<!--                        Premier pas dans le craft-->
<!--                        {{ else if eq .menu "decode" }}-->
<!--                        Faut pas décoder quand même-->
<!--                        {{ else if eq .menu "open" }}-->
<!--                        Vers de nouveaux horizons-->
<!--                        {{ else if eq .menu "perfect" }}-->
<!--                        Un pas de plus dans le craft-->
<!--                        {{ else if eq .menu "others" }}-->
<!--                        Et ailleurs, ça se passe comment ?-->
<!--                        {{ end }}-->
<!--                    </h3>-->
<!--                    <h3 class="talk-date">-->
<!--                        <a href="{{ .roti }}" aria-label="feedback">💌 Donnez votre feedback!</a>-->
<!--                    </h3>-->

                    <p>{{ .description | safeHTML }}</p>
                    
<!--                    <div class="talk-inscription">-->
<!--                        <a href="{{ .meetup }}" target="_blank">Inscription sur Meetup.com</a>-->
<!--                    </div>-->

                    {{ range $spk := $slot.speakers }}
                    {{ $speaker := index $speakersmap (string $spk.speakerid) }}
                        {{ if $speaker.name }}

                            <h3 class="talk-date">
                                Présentation de {{ $speaker.name }}
                            </h3>
                            {{ if $speaker.bio }}
                                <p>{{ $speaker.bio | safeHTML }}</p>
                            {{ end }}

                            {{ if $speaker.company }}
                                <p><i class="fa fa-building"></i> <span>{{ $speaker.company }}</span></p>
                            {{ end }}

                            {{ if $speaker.text }}
                                <p><i class="fab fa-twitter-square"></i> <span><a href="https://twitter.com/{{ $speaker.text }}" about="twitter {{ $speaker.text }}">{{ $speaker.text }}</a></span></p>
                            {{ end }}
                            {{ if $speaker.mastodon }}
                            <p><i class="fab fa-mastodon"></i> <span><a href="{{ $speaker.mastodon }}" about="mastodon {{ $speaker.mastodon }}">{{ $speaker.name }}</a></span></p>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </section>
                <footer>
                    <div class="talk-type">
                        {{ if eq .type "talk" }}
                        <svg xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" fill="currentColor" class="bi bi-mic" style="margin-right: 0.75rem" viewBox="0 0 16 16">
                            <title>Talk</title>
                            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                            <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
                        </svg>
                        {{ end }}
                        {{ if eq .type "workshop" }}
                            <img src="/img/schedule/workshop.png" class="img-fluid" alt="workshop">
                        {{ end }}
                        <ul class="schedule-tags">
                            {{ range $category := $slot.categories }}
                            <li class="schedule-tag">{{ $category }}</li>
                            {{ end }}
                        </ul>
                        <div class="footer-bottom">
                            {{ .language }}
                        </div>
                    </div>
                </footer>
            </article>
        </li>
        {{ end }}
    </ul>
</section>


<!-- Footer -->
{{ partial "footer.html" .Site.Params }}

<script>
    function getURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }

    }

    var talk = getURLParameter('talk');

    $('#' + talk).show();

</script>
</body>
</html>
