.call-to-action {
  position: relative;
  background-color: $gray-800;
  background: url('../img/roll-coupons.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  &:after {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.2);
      pointer-events: none;
  }
}
