.call-to-action {
  position: relative;
  background-color: $gray-800;
  background: url('../img/roll-coupons.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
