.discoveryday {

  .description {
    padding: 2rem;

    table {
      border-collapse: collapse;

      th {
        padding-top: 12px;
        padding-bottom: 12px;
        vertical-align: top;
      }

      td, th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

    }
  }

}