.edition-2019 {

  .conference {
    padding: 10px;
  }

  .card {
    margin: 10px 0 10px 0;
  }

  .icon-youtube {
    max-width: 20%;
    min-width: 4rem;
    width: auto;
    height: auto;
  }

  .schedule-link {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: .85em 1em;
    font-size: .9rem;
    border: 1px solid #007bff;
  }

  .conference-link {
    font-size: 1.5rem;
  }

  .album {
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1rem;
  }

  .album .item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .album .item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3
  }

  .album .item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .album .item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
  }

  .album .item--5 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  .album .item--6 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  .album .item--7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  .album .item--8 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
  }


  .album img {
    display: block;
    object-fit: contain;
    width: 100%;
    max-height: 100%;
  }

  .album .item--inner {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 5;

    button {
      width: 100%;
      height: 100%;
    }
  }

  .youtube-link {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .youtube-background {
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .card:hover .youtube-link {
    opacity: 1;
  }

  .card:hover .youtube-background {
    opacity: 0.1;
    background-color: gray;
  }

}