.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all 0.1s;

  .navbar-nav {
    width: 100%;
    justify-content: space-evenly;
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-brand-logo {
    height: 60px;
    transition: all 0.3s;
  }

  .nav-icon {
    width: 12px;
    color: currentColor;
  }

  .nav-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #505050 !important;
    border-radius: 4px;
    transition: background-color 100ms;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }

  .dropdown-toggle {
    display: grid;
    grid-template: auto auto / auto auto;
    gap: 8px 0;
    place-items: center;

    i {
      grid-column-end: span 2;
    }
  }
}

.scrolled .navbar {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.top-button {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 100ms;

  &:hover {
    transform: scale(1.2);
  }

  .scrolled & {
    display: block;
  }
}
