.sponsors {

  background-color: #f8f9fa !important;

  padding: 4em 3em 2em;

  .card {
    background-color: #f8f9fa !important;
  }

  .sponsors-row {
    padding: 2em 0em 5em 0em;
  }

  .title-golden {
    color: #B7935B;
    font-size: 2em;
    font-weight: bold;

    &:before {
        display: inline-block;
        content: "";
        border-top: .3rem solid #B7935B;
        width: 4rem;
        margin: 0 1rem;
        transform: translateY(-0.5rem);
        border-radius: 0 2px 2px 0;
    }

    &:after {
      display: inline-block;
      content: "";
      border-top: .3rem solid #B7935B;
      width: 4rem;
      margin: 0 1rem;
      transform: translateY(-0.5rem);
      border-radius: 0 2px 2px 0;
    }
  }

  .title-tdd {
    color: #28a745;
    font-size: 2em;
    font-weight: bold;

    &:before {
      display: inline-block;
      content: "";
      border-top: .3rem solid #28a745;
      width: 4rem;
      margin: 0 1rem;
      transform: translateY(-0.5rem);
      border-radius: 0 2px 2px 0;
    }

    &:after {
      display: inline-block;
      content: "";
      border-top: .3rem solid #28a745;
      width: 4rem;
      margin: 0 1rem;
      transform: translateY(-0.5rem);
      border-radius: 0 2px 2px 0;
    }
  }

  .img-golden {
    max-width: 20%;
    min-width: 15rem;
    width:auto;
    height:auto;
  }

  .img-tdd {
    max-width: 10rem;
    min-width: 10rem;
    width:auto;
    height:auto;
  }


  .sponsoring-btn {
    border-radius: 1.3rem;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 1.5em;
    padding: 20px 40px;
  }

  @media (max-width: 768px) {
    .sponsors-row {
      padding: 0em 0em 3em 0em;
      display: grid;
    }

    .sponsor-img {
      padding: 25px 0px;
    }

  }


}

@media (max-width: 768px) {
  .sponsors {
    padding: 3em 1em;
  }
}
