.sponsors {

  padding: 3em;

  .sponsors-row {
    padding: 5em;
  }

  .img-golden {
    max-width: 20rem;
    min-width: 20rem;
  }

  .img-tdd {
    max-width: 10rem;
    min-width: 10rem;
  }

  @media (max-width: 768px) {
    .sponsors-row {
      padding: 0em 0em 3em 0em;
      display: grid;
    }

    .sponsor-img {
      padding: 25px 0px;
    }

  }


}
