<section class="showcase">
    <div class="container-fluid p-0">
        {{ range .about }}
        <div class="row no-gutters">
            <div class='col-lg-6 {{ cond (eq .imgInRightSide true) "order-lg-2" "" }} text-white showcase-img' style="background-image: url('{{ .img }}');">
            </div>
            <div class='col-lg-6 {{ cond (eq .imgInRightSide true) "order-lg-1" "" }} my-auto showcase-text'>
                <h2>{{ .title }}</h2>
                {{ range .text }}
                    <p class="lead mb-0">{{ .paragraph | safeHTML }}</p>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</section>
