<section class="call-to-action">
    <div class="container">
        <h2 class="title text-white">Billetterie</h2>
        <div class="row">
            <div class='col-lg-4 order-lg-1 text-center pb-5'>
                <img loading="lazy" class="img-fluid" alt="Livre Software craft" src="/img/software-craft.jpeg"/>
            </div>
            <div class='col-lg-8 order-lg-2'>

                <div class="bg-light text-left p-4 lead">
                    Deux types de billets <b>"Early birds"</b> sont proposés :
                    <ul>
                        <li>à 70 € avec le livre "SOFTWARE CRAFT" offert</li>
                        <li>à 50 € sans le livre</li>
                    </ul>
                </div>
                <div>
                <a title="Vente de billets en ligne"
                   href="https://www.billetweb.fr/shop.php?event=alpescraft-2023&color=007bff" class="shop_frame"
                   target="_blank" data-src="https://www.billetweb.fr/shop.php?event=alpescraft-2023&color=007bff"
                   data-max-width="100%" data-initial-height="600" data-scrolling="no" data-id="alpescraft-2023"
                   data-resize="1">Vente de billets en ligne</a>
                <script type="text/javascript" src="https://www.billetweb.fr/js/export.js"></script>
                </div>
                <!--            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">-->
                <!--                <div class="billetterie-text">Pour être tenu au courant, suivez nous sur <a class="twitter-link" href="{{ .twitter }}">Twitter</a></div>-->
                <!--                <a class="twitter-link-icon" href="{{ .twitter }}">-->
                <!--                    <i class="fab fa-twitter-square fa-2x fa-fw"></i>-->
                <!--                </a>-->
                <!--            </div>-->
            </div>
        </div>
    </div>
</section>