<section class="call-to-action">
    <div class="container">
        <h2 class="title text-white">Billetterie</h2>
        <div class="row">
                <div class="bg-light text-left p-4 lead">
                    <p>
                        Cette année, nous proposons des billets à différents tarifs et on vous explique pourquoi…
                    </p>
                    <p>
                        Une conférence comme AlpesCraft c’est un budget d’environ 30 000 €, pour financer notamment le lieu (50%), le traiteur (25%), les oratrices et orateurs (20%). Et ce budget est couvert en recette par les sponsors et la vente de billets. Aujourd’hui, le budget prévisionnel pour cette édition s’annonce négatif pour quelques milliers d’euros.
                        De plus, le sponsoring est malheureusement difficile. Nous avons donc cherché des alternatives pour permettre à chacun, entreprise et particulier, de nous soutenir à son échelle.
                    </p>
                    <p>
                        Les montants des offres de sponsoring pour les entreprises ont été un peu augmentés (1500 € et 2500 €), et nous avons ajouté une offre à 500 € pour les entreprises hésitantes ou les indépendantes et indépendants.
                        Pour le prix des billets, le tarif de base est passé à 80 €. Mais nous savons que certaines personnes sont prêtes à nous soutenir, un peu, beaucoup, passionnément.
                    </p>
                    <p>
                        Nous proposons donc un billet “J’encourage” à 110 €, et un billet “Je soutiens” à 150 €. Cela peut permettre à celles et ceux qui le souhaitent de nous soutenir, et pour notre budget, cela peut faire la différence.
                        Et pour les plus motivées et les plus motivés, nous proposons aussi un billet “Je sponsorise !” à 500 € donnant accès aux 2 journées. Ces “sponsors individuels” seront cités et remerciés.
                        Bien sûr, toutes les combinaisons sont possibles, comme par exemple prendre un billet J1 à 150 € et un billet J2 à 110 €, ou 3 billets à 500 € et les offrir !
                    </p>
                    <p>
                        Et si tes billets sont financés par ton entreprise, n’hésite pas à viser les billets à 150 €.
                    </p>
                    <p>
                        Nous comptons sur toutes et tous les fans d’AlpesCraft pour se mobiliser, nous soutenir, et nous permettre de maintenir l’organisation de la conférence.

                    </p>
<!--                    <p>-->
<!--                        Un grand merci à vous toutes et tous qui nous avez fait confiance encore cette année : toutes les places ont été vendues 2 mois avant la conférence 🥳-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        Et si vous ne pouviez finalement pas venir, faites-le nous savoir, cela profitera aux personnes dans la liste d’attente 🙏-->
<!--                    </p>-->
                </div>
        </div>
            <div class="row">
                <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/alpescraft/evenements/alpescraft-2025/widget" style="width: 100%; height: 750px; border: none;"></iframe>
            </div>
    </div>
</section>