<section>
  <div class="w-80 p-3" style="margin-right: auto;margin-left: auto;">
    <div class="alert alert-warning lead mb-0 border rounded">
      <p>
        En raison de la situation sanitaire en France, nous devons avec regret annuler l’édition AlpesCraft 2020.

        Nous tenons à remercier l’ensemble de nos sponsors qui nous soutiennent ainsi que les speakers qui avaient accepté de venir.

        Nous restons mobilisés et optimistes pour une prochaine édition en Juin 2021.

        Toute l’équipe est là pour répondre à vos questions sur <a class="alert-link" href="https://twitter.com/AlpesCraft">Twitter</a> ou par <a class="alert-link" href="mailto:contact@alpescraft.fr">e-mail</a>.
      </p>
      <p>Merci pour votre patience, prenez soin de vous et de vos proches.</p>
    </div>
  </div>
</section>
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      {{ range .icones.grid }}
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="{{ .icon }} m-auto text-primary"></i>
          </div>
          <h3>{{ .title }}</h3>
          <p class="lead mb-0">{{ .text | safeHTML }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="description lead">
    {{ range .icones.description }}
      <p>{{ .paragraph | safeHTML }}</p>
    {{ end }}
  </div>
</section>