<section>
  <div class="w-80 p-3" style="margin-right: auto;margin-left: auto;">
    <div class="alert alert-success lead mb-0 border rounded">
      <p>
        A défaut de pouvoir se retrouver physiquement, nous vous donnons rendez-vous pour des "rencontres" (en visio) de 1 à 2 heures sur plusieurs jours en juin autour de ce qui nous anime : le Craft.
      </p>
      <p>
        Nous avons impatience de vous revoir et de partager des moments forts ensemble : poursuivons nos apprentissages, nos découvertes et nos émerveillements.
      </p>
      <p>
        Le programme est en cours de construction et nous le publierons sur cette page au fur et à mesure de son évolution. Pour être tenu au courant, inscrivez-vous sur notre <a class="alert-link" href="https://app.mailjet.com/widget/iframe/48FC/IEF">newsletter</a> et/ou sur notre compte <a class="alert-link" href="https://twitter.com/AlpesCraft">Twitter</a>.
      </p>
    </div>
  </div>
</section>
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      {{ range .icones.grid }}
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="{{ .icon }} m-auto text-primary"></i>
          </div>
          <h3>{{ .title }}</h3>
          <p class="lead mb-0">{{ .text | safeHTML }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="description lead">
    {{ range .icones.description }}
      <p>{{ .paragraph | safeHTML }}</p>
    {{ end }}
  </div>
</section>