<section>
  <div class="w-80 p-3" style="margin-right: auto;margin-left: auto;">
    <div class="alert alert-info lead mb-0 border rounded">
      <p>
        Durant les derniers mois, pour les raisons de sécurité sanitaire lié au covid-19, nous avons dû faire le choix de reporter l'édition 2020 qui était prévu en juin. L'équipe organisatrice continue de travailler d'arrache-pied et est enfin heureuse de vous annoncer que la prochaine édition aura lieu <strong>les 2 et 3 Novembre 2020 à la Maison Minatec</strong> 💪 !!
      </p>

      <p>
        Nous tenons à remercier nos sponsors qui nous font confiance et nous soutiennent malgré cette période difficile 🙌.
      </p>
      <hr/>
      <p>
        La billetterie ouvrira courant septembre et nous comptons sur votre présence pour vivre un bel événement ensemble. Bien entendu nous restons à l'écoute de l'actualité et des mesures sanitaires à respecter pour la sécurité de tous.

        Toute l’équipe est là pour répondre à vos questions sur <a class="alert-link" href="https://twitter.com/AlpesCraft">Twitter</a> ou par <a class="alert-link" href="mailto:contact@alpescraft.fr">e-mail</a>.
      </p>
      <p>Merci pour votre patience, prenez soin de vous et de vos proches.</p>
    </div>
  </div>
</section>
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      {{ range .icones.grid }}
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="{{ .icon }} m-auto text-primary"></i>
          </div>
          <h3>{{ .title }}</h3>
          <p class="lead mb-0">{{ .text | safeHTML }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="description lead">
    {{ range .icones.description }}
      <p>{{ .paragraph | safeHTML }}</p>
    {{ end }}
  </div>
</section>