<section class="location">
    <div class="container-fluid p-0">
        {{ range .location }}
        <div class="row no-gutters">
            <div class='col-lg-6 order-lg-1 text-white location-map'>
                <a target="_blank" href="https://umap.openstreetmap.fr/fr/map/alpescraft-alpexpo_756784#17/45.15484/5.73517" aria-label="Open OpenStreetMap Map">
                    <img loading="lazy" class="img-fluid" alt="OpenStreetMap Alpexpo" src="/img/alpexpo.webp"/>
                </a>
            </div>
            <div class='col-lg-6 order-lg-2 location-text'>
                <h2 class="title">{{ .title }}</h2>

                <p>Les deux jours se dérouleront à :</p>
                <p class="text-center"><strong><a target="_blank" href="https://alpexpo.com/acces/" aria-label="Accès Alpexpo">{{ $.venue }}</a></strong></p>
                <p class="text-center">{{ $.address }}, {{ $.city }}</p>

                {{ range .text }}
                <p>{{ .paragraph | safeHTML }}</p>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</section>