<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">La billetterie ouvre bientôt!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        Pour être tenu au courant, suivez nous sur <a class="twitter-link" href="{{ .twitter }}">Twitter</a>
        <a class="twitter-link-icon" href="{{ .twitter }}">
          <i class="fab fa-twitter-square fa-2x fa-fw"></i>
        </a>
      </div>
    </div>
  </div>
</section>