<h2 class="section-title text-center schedule-title">{{ .titles.schedule }}</h2>


<h3>Journée du Jeudi 13 Juin</h3>

<div class="container-fluid">
    {{ range $sched, $slot := .schedule }}
    <div class="row schedule-row text-center p-4 {{ if not $slot.conferences }}schedule-break-container{{ end }}">
        <div class="col-lg-1 col-md-2 schedule-time">{{ .time }}</div>
        <div class="col-lg-11 col-md-10">
            <div class="row">
                {{ if $slot.conferences }}
                    {{ range  $index, $conf := $slot.conferences }}
                            <div class="col-lg-{{div 12 (len $slot.conferences) }}">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row justify-content-end session-link" onclick="javascript:location.href='/session?talk={{ $sched }}-{{ $index }}'">
                                                    <h5 class="card-title col-lg-9">{{ .name }}</h5>
                                            </div>
                                            <div class="card-text">
                                                <div class="row">
                                                    <div class="col-lg-3 text-center schedule-who">
                                                        <a href="{{ $conf.speaker.href }}" target="_blank">
                                                            <img class="img-fluid rounded-circle" src="{{ $conf.speaker.photo }}" alt="{{ $conf.speaker.name }}">
                                                            <p class="text-center">{{ $conf.speaker.name }}</p>
                                                            <p class="speakers-company">{{ $conf.speaker.company }}</p>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-9 session-link" onclick="javascript:location.href='/session?talk={{ $sched }}-{{ $index }}'">
                                                        <p class="text-left">{{ .description }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    {{ end }}
                {{ else }}
                    <div class="col-lg-12 schedule-break">
                        <h4>{{ .name }}</h4>
                    </div>

                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>
<div>
    <a href="http://localhost:1313/program/Programme.pdf">Télécharger le programme en version PDF</a>
</div>
