<h2 class="section-title text-center schedule-title">{{ .titles.schedule }}</h2>


<h3>Journée du Jeudi 13 Juin</h3>

<div class="schedule-pdf">
    <p>Téléchargez le programme en PDF</p>
    <p><a href="/schedule/schedule_2019.pdf" target="_blank">version <b>simplifiée</b></a></p>
    <p><a href="/schedule/schedule_2019_detaille.pdf" target="_blank">version <b>détaillée</b></a></p>
</div>

{{ $speakersmap := .speakersmap }}
<div class="container-fluid">
    {{ range $sched, $slot := .schedule }}
    <div class="row schedule-row text-center p-4 {{ if not $slot.conferences }}schedule-break-container{{ end }}">
        <div class="col-lg-1 col-md-2 schedule-time">{{ .time }}</div>
        <div class="col-lg-11 col-md-10">
            <div class="row">
                {{ if $slot.conferences }}
                    {{ range  $index, $conf := $slot.conferences }}
                            <div class="col-lg-{{div 12 (len $slot.conferences) }}">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row justify-content-end">
                                                    <h5 class="card-title col-lg-9">{{ .name }}</h5>
                                            </div>
                                            <div class="card-text">
                                                <div class="row">
                                                    <div class="col-lg-3 text-center schedule-who">
                                                        {{ range $spk := $conf.speakers }}
                                                        {{ $speaker := index $speakersmap (string $spk.speakerid) }}

                                                            {{ if $speaker.href }}
                                                            <a href="{{ $speaker.href }}" target="_blank">
                                                            {{ end }}
                                                                <img class="img-fluid rounded-circle" src="{{ $speaker.photo }}" alt="{{ $speaker.name }}">
                                                                <p class="text-center">{{ $speaker.name }}</p>
                                                                <p class="speakers-company">{{ $speaker.company }}</p>
                                                            {{ if $speaker.href }}
                                                            </a>
                                                            {{ end }}
                                                        {{ end }}
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <p class="text-left session-description">{{ .description }}</p>
                                                        <div><a href="/session?talk={{ $sched }}-{{ $index }}" target="_blank">En savoir plus</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    {{ end }}
                {{ else }}
                    <div class="col-lg-12 schedule-break">
                        <h4>{{ .name }}</h4>
                    </div>

                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>

<div>
    <h3>Journée du Vendredi 14 Juin</h3>
    <h4>Socrates Day</h4>
    <div class="row">
        <div class="col-lg-4 text-left">
            Cette journée est une non-conférence. Cela signifie que le programme de la journée sera défini sur place,
            par les participantes et participants. En début de journée, chaque volontaire propose une ou plusieurs
            sessions qu'il ou elle aimerait animer (présentation, coding dojo, atelier, échanges sur un sujet donné, ...),
            ou à laquelle il ou elle souhaiterait participer. Le planning de la journée est établi à partir de ces propositions.
        </div>
        <div class="col-lg-4 ">
            <img class="schedule-socrates-img" src="/img/marketplace.jpg"/>

        </div>

        <div class="col-lg-4 ">
            <img class="schedule-socrates-img" src="/img/first-day.png"/>

        </div>

    </div>

</div>
