<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Speakers...</h2>
    <div class="row">
      {{ range .speakers }}
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ .img }}" alt="">
          <h5>{{ .name }}</h5>
          <p class="font-weight-light mb-0">{{ .description | safeHTML }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- <h2 class="section-title">{{ .titles.speakers }}</h2>

<ul class="speakers-list">
{{ range $speaker := (where .schedule "presentation" "ne" nil) }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
      <span class="speaker-photo">
        <img class="photo" src="{{ . }}" alt="{{ $speaker.name }}" itemprop="image">
      </span>
    {{ end }}

    <h3 class="speech-title">
      {{ with .presentation.time }}
      <span class="speech-time">{{ . }}</span>
      {{ end }}
      <span>{{ .presentation.title }}</span>
    </h3>

    <h3 class="speakers-name">{{ .name }}
      {{ with .link }}
      <a href="{{ .href }}" target="_blank" title="{{ .text }}"> {{ .text }} </a>
      {{ end }}
    </h3>
    <p class="speakers-bio">{{ .bio }}</p>
  </li>
{{ end }}
</ul> -->
