<h2 class="section-title">{{ .titles.sponsors }}</h2>

<p class="lead text-center font-weight-bold">Un grand merci à nos sponsors sans qui cette première aventure 2019 n'aurait pas pu voir le jour</p>

<div class="row sponsors-row text-center">
  {{ range $sponsor := .sponsors }}
  <div class="sponsor-img col my-auto">
    <a href="{{ .url }}" target="_blank" about="{{ .name }}">
      <div class="card border-0">
        <img class="card-img-top mx-auto" src="{{ .logo }}" alt="{{ .name }}">
      </div>
    </a>
  </div>
  {{ end }}
</div>
<div class="row my-auto">
  <div class="col text-center">
    <a href="mailto:{{ .email }}">
      <button type="button" class="btn btn-lg btn-info">Devenir Sponsor</button>
    </a>
  </div>
</div>
