<p class="lead text-center font-weight-bold">Un grand merci à nos sponsors qui nous soutiennent et sans qui AlpesCraft ne serait pas possible</p>

<br/>

<p class="title-golden text-center">Maître</p>

<div class="row sponsors-row text-center">
  {{ range $sponsor := .sponsors.master }}
  <div class="sponsor-img col my-auto">
    <a href="{{ .url }}" target="_blank" about="{{ .name }}">
      <div class="card border-0">
        <img class="img-golden card-img-top mx-auto" src="{{ .logo }}" alt="{{ .name }}">
      </div>
    </a>
  </div>
  {{ end }}
</div>

<p class="title-historique text-center">Historique</p>

<div class="row sponsors-row text-center">
  {{ range $sponsor := .sponsors.historique }}
  <div class="sponsor-img col my-auto">
    <a href="{{ .url }}" target="_blank" about="{{ .name }}">
      <div class="card border-0">
        <img class="img-historique card-img-top mx-auto" src="{{ .logo }}" alt="{{ .name }}">
      </div>
    </a>
  </div>
  {{ end }}
</div>

<p class="title-tdd text-center">Apprenti</p>
<div class="row sponsors-row text-center">
  {{ range $sponsor := .sponsors.apprenti }}
  <div class="sponsor-img col my-auto">
    <a href="{{ .url }}" target="_blank" about="{{ .name }}">
      <div class="card border-0">
        <img class="img-tdd card-img-top mx-auto" src="{{ .logo }}" alt="{{ .name }}">
      </div>
    </a>
  </div>
  {{ end }}
</div>

<div class="row my-auto">
  <div class="col text-center">
    <a class="sponsoring-btn btn btn-lg btn-info" href="{{ $.Site.BaseURL }}/sponsoring">
      Devenir Sponsor
    </a>
  </div>
</div>
