<!doctype html>
<html itemscope itemtype="http://schema.org/Event" lang="fr">

{{ partial "head.html" . }}

<body>
  <!-- Navigation -->
  {{ partial "index/nav.html" . }}

  <!-- Masthead -->
  {{ partial "index/header.html" .Site.Params }}

  {{ range $index, $section := .Site.Params.Sections }}
    <section class="{{ $section }}" id="{{ $section }}">
      {{ partial $section $.Site.Params }}
    </section>
  {{ end }}

  <!-- Footer -->
  {{ partial "footer.html" .Site.Params }}

</body>
</html>
